<ion-header>
  <ion-toolbar>
    <ion-title>
      Flashcards
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="flashcardData" class="card-container">
    <ion-card-header class="card-header">
      <ion-card-title class="card-title">{{ flashcardData.question }}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="card-content" *ngIf="!showAnswer">
      <ion-button expand="full" (click)="showAnswer = true">Show Answer</ion-button>
    </ion-card-content>

    <ion-card-content class="card-content" *ngIf="showAnswer">
      {{ flashcardData.answer }}
    </ion-card-content>
  </ion-card>
</ion-content>
