<ion-header>
  <ion-toolbar>
    <ion-title>Flashcards</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Username/Email</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="login()">Login</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
